/* GLOBAL STYLING */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
    font-family: "Nunito Sans", Verdana, sans-serif;
    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings:#3086e2;
    --color-text: #333333;
}
html[data-theme='dark']{
    --bg: #333333;
    --bg-panel: #434343;
    --color-headings: #3694FF;
    --color-text: #B5B5B5;
}
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: background-color 750ms !important;
  transition-delay: 0 !important;
}
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-text);
    border-radius: 10px;
}
body{
    background: var(--bg);
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none;
    color:var(--color-text);
    overflow-x: hidden;
}
a{
    text-decoration: none;
    color:var(--color-text);
}
svg{
    color:var(--color-text);
}
.grid-container{
    min-height:100vh;
    display:grid;
    grid-template-columns:55px;
    grid-template-rows: auto 1fr;
    grid-row-gap:2px;
    grid-column-gap:2px;
    width: 95%;
    margin:auto;
}

.row{
    animation: load-scale 1s;
}
/* HEADER STYLING */
header{
    grid-column-start: 2;
    grid-column-end: -1;
    display: flex;
    justify-content: flex-end;
    height: 100px;
    align-items: center;
    gap:30px;
}

.color-switcher, .notifications{
    height: 24px;
    width: 24px;
    border:none;
    background-color: transparent;
}
.color-switcher:hover,.notifications:hover{
    cursor: pointer;
    transform: scale(1.1);
}
.notifications .notification-count{
    position: relative;
    color:white;
    left:8px;
    top:-32px;
    padding: 0px 4px;
    font-size: 12px;
    background-color: var(--color-headings);
    border-radius: 50%;
}
.user a{
    display: flex;
    align-items: center;
    gap: 4px;
    font-weight: 700;
    color:var(--color-text);
    transition: all .1s ease-in-out;
}
.user a p{
    display: none;
    width: 0;
}
.user a p{
    line-height: 12px;
}
.user a p span{
    line-height: 12px;
    font-size: 12px;
    margin-left: 1px;
    color: var(--color-headings);
}
.user a img{
    object-fit: cover;
    border-radius: 50%;
    border:2px rgb(38, 194, 38) solid;
}
.userdropbtn {
    cursor: pointer;
}
.user {
    position: relative;
    display: inline-block;
}
.userdropdown-content {
    display: none;
    position: absolute;
    background-color: var(--bg-panel);
    min-width: 180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 10px;
    z-index: 1;
}

.userdropdown-content a {
    color: var(--color-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.userdropdown-content a:hover {color: var(--color-headings)}

.user:hover .userdropdown-content{
    display: block;
}

/* NAVIGATION STYLING */
.name-link{
    display:none;
}
.name-company{
    display:none;
}
nav{
    grid-row-start: 1;
    grid-row-end: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav .logo h1{
    height: 100px;
    display: flex;
    align-items: center;
    gap: 10px;
}
nav .logo h1 svg{
    color:var(--color-headings);
    font-size:60px;
}
nav .buttons ul{
    display:flex;
    flex-direction: column;
    gap: 10px;
}
nav ul li{
    list-style-type: none;
}
nav .buttons a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-text);
    font-weight: 700;
    border-radius: 15px;
    padding:10px;
    gap: 14px;
    animation: nav-smooth-small 1s;
}

nav .current, nav .current svg{
    background-color: var(--color-headings);
    color:white !important;
}
nav .buttons a:hover > span + svg{
    transform: scale(1.1);
}
nav .buttons a:hover{
    transform: scale(1.02);
}


@media only screen and (min-width:850px){
    .grid-container{
        grid-template-columns:250px;
    }
    .user a p{
        display: block;
        width: auto;
    }
    .name-link{
        display:block;
    }
    .name-company{
        display:block;
    }
    nav{
        grid-row-start: 1;
        grid-row-end: -1;
        align-items: stretch;
    }
    nav .buttons a{
        justify-content: flex-start;
        gap: 14px;
        padding:12px 25px;
        width:100%;
        animation: nav-smooth-big 1s;
    }
    nav .buttons a i{
        height: 24px;
        width: 24px;
    }
    @keyframes nav-smooth-big {
        from {width:30%;}
        to {width:100%;}
    }
}

@keyframes nav-smooth-small {
    from {width:30%;}
    to {width:100%;}
}